@import url('http://fonts.cdnfonts.com/css/open-sans');

* {
  font-family: 'Open Sans', sans-serif;

}

.container {
  height: 448px;
  width: 662px;
  margin: 50px auto;
  padding: 24px;
  background-color: #fefefe;
  border: solid 1px lightgrey;
  border-radius: 10px;
  overflow: auto;
}

.new_task_inputs {
  padding: 0 15px;
}

.link {
  text-decoration: none;
  
}

.taskform {
  height: 70px;
  width: 614px;
  display: flex;
  /* align-items: center; */
  padding: 0 15px;
  gap: 8px;
}

.taskform input {
  border: none;
  color: gray;
  height: 48px;
  width: 60vw;
  border-radius: 8px;
}

.btn {
  width: 20vw;
  height: 48px;
  color: #fff;
  background: #3A85F7;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.task_par {
  font-weight: bold;
}

.dates_list {
  height: 224px;
  width: 614px;
  background-color: #fefefe;
  padding: 16px;
}

.todos_dates {
  padding: 0 15px;
}

.todoDate {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.dateobj {
  color: #3A85F7;
}

.head {
  display: flex;
  align-items: center;
  gap: 30px;
}

/* .todoList {
  
} */

.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

.check {
  display: flex;
  align-items: center;
  gap: 5px;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.edit-btn {
  border: none;
  background-color: transparent;
  color: #3A85F7;
}
.delete-btn {
  border: none;
  background-color: transparent;
  color: red;
}
.completed_task {
  color: lightgray;
  text-decoration: line-through;
}
.completed_checkbox {
  color: lightgray;
  background-color: rgb(32, 234, 32);
}
/* input[type="checkbox"]:checked::after {
  background-color: red;
} */